<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v15.0"
  nonce="wmfod3Cx"
></script>
<script>
  let timeout;
  window.onresize = function () {
    clearTimeout(timeout);
    timeout = setTimeout(function () {
      let container_width = Math.min(500, document.getElementById("facebook-embed").offsetWidth);
      let plugin = document.getElementsByClassName("fb-page")[0];
      if (plugin.offsetWidth != container_width) {
        plugin.setAttribute("data-width", container_width);
        FB.XFBML.parse();
      }
    }, 1000);
  };
</script>
