<div id="facebook-embed">
  <div
    class="fb-page"
    data-href="https://www.facebook.com/SternwarteKreuznach"
    data-tabs="timeline"
    data-width="500"
    data-height="650"
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/SternwarteKreuznach"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/SternwarteKreuznach"
        >Sternwarte Bad Kreuznach e.V.</a
      >
    </blockquote>
  </div>
</div>
