body {
  margin: 2em 0 0 0;
  padding: 0;
  font-family: 'MetropolisRegular', "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
}

main {
  margin: 0 auto;
  max-width: 55em;
  padding: 1em;
}

hr {
  border: 0;
  border-top: 3px solid #597694;
  margin-top: 40px;
  padding-top: 30px;

}

h1,
h2,
h3,
strong {
  color: #222;
  font-family: 'MetropolisSemiBold';
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

.titlebar {
  margin-top: 68px;
  display: flex;
  width: 100%;
  background-color: #eee;
  justify-content: center;
  align-content: flex-start;
  font-family: 'MetropolisSemiBold';
  padding-left: 1rem;
}

.title {
  width: 55rem;

}

a {
  color: #003366;
}

#topnav {
  background-color: #003366;
  background-image: linear-gradient(to right, #003366, #0b5fb3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
}

.menu {
  display: flex;
  max-width: 55em;
  margin: 0 auto;
  padding: 0 1em;
  align-items: center;
  justify-content: flex-start;
}

.menu > .logo {
  height: 64px;
  padding: 2px;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.5em;
  align-items: center;
}
.menu > span,
.navbar a,
.navbar button {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 1.5em 1em;
  transition: ease .2s;
}

.menu > span {
  display: none;
}

.hamburger {
  display: none;
}

.hamburger > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background-color: aliceblue;
  margin: 6px;
}

.navbar > li:hover > a,
.navbar > li.active > a,
.navbar > li:hover > button,
.navbar > li.active > button,
.dropdown-items > li:hover > a,
.dropdown-items > li.active > a {
  background-color: rgba(0, 0, 0, 0.12);
  transition: ease .2s;
}

.dropdown {
  position: relative;
}

.dropdown-items {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  z-index: 9999;
  min-width: 7em;
  background-color: white;
  border-left: #003366 0.37em solid;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  padding: 0;
  transition: ease .2s;
}

.dropdown-button::after {
  visibility: hidden;
  opacity: 0;

  content: "";
  width: 0; 
  height: 0; 
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;  
  border-bottom: 0.7em solid white;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.7em;
  z-index: 9998;
  transition: ease .2s;
}

.dropdown-items > li {
  list-style: none;
}

.dropdown-items > li > a {
  display: block;
  color: #333;
  padding: 0.4em 0.7em;
  transition: ease .2s;  
}

.dropdown:hover .dropdown-items,
.dropdown:hover .dropdown-button::after {
  visibility: visible;
  opacity: 1;
  transition: ease .2s;
}


@media (max-width: 769px) {
  .navbar {
    display: none;
  }

  .menu {
    justify-content: space-between;
    padding: 0 0.5em 0 1em;
  }

  .menu > span {
    display: block;
    padding: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  main img {
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }
}