<header class="vhs-header">
  <h1>
    {{ . }}
    <span class="subtitle"
      >in Zusammenarbeit mit der
      <a
        href="https://vhs-bad-kreuznach.de/"
        target="_blank"
        rel="noopener noreferrer"
        >Volkshochschule der Stadt Bad Kreuznach</a
      >
    </span>
  </h1>
  <a
    href="https://vhs-bad-kreuznach.de/"
    target="_blank"
    rel="noopener noreferrer"
    title="Volkshochschule der Stadt Bad Kreuznach"
    ><img id="vhs-logo" src='{{ relURL "svg/vhs_logo.svg" }}' alt="Logo der Volkhochschule Bad Kreuznach"
  /></a>
</header>
