.blog-header {
  margin-bottom: 2rem;
  background-color: #ddd;
  background-image: url("/images/namibia.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  h1,
  h4 {
    padding: 5rem 2rem;
    max-width: 70rem;
    margin: 0 auto;

    span {
      background-color: black;
      color: white;
      padding: 0 0.5rem;
      font-weight: 200;
      font-size: 2.5rem;
    }
  }
}

.post-title {
  margin-bottom: 0;
}

.post-image {
  text-align: center;
}

.posts-grid {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  width: 32.5%;
  box-sizing: border-box;
  margin-bottom: 3rem;

  @media (max-width: 1100px) {
    width: 49%;
  }

  @media (max-width: 769px) {
    width: 100%;
  }
}

.post-link {
  text-decoration: none;

  img {
    max-width: 100%;
  }

  .post-title {
    padding: 0 1rem;
    margin-bottom: 0;

    @media screen and (max-width: 769px) {
      font-size: 18px;
    }
  }

  &:hover {
    text-decoration: underline;
    .post-title {
      color: #036;
    }
  }
}


.post-summary {
  padding: 0 1rem;
}

.post-info {
  font-size: 14px;
  font-weight: 600;
  padding: 0 1rem;
}
