.galerie {
  margin: 0 auto;
  max-width: 85rem;
  padding: 1rem 2rem;
  @media #{$phone} {
    padding: 0;
  }
}

.galerie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.galerie-item {
  line-height: 0;
  padding: 1px;
  img {
    width: 100%;
    height: auto;
  }
}

.galerie-detail-view {
  padding-top: 1rem;
}

.galerie-titlebar {
  background-color: #eee;
  > div {
    max-width: 55rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    @media #{$phone} {
      padding: 1rem 1rem;
    }
    > h1 {
      margin: .4rem 0;
    }
  }
  .creator {
    font-size: 16px;
    font-weight: 600;
  }
}
