.galerie {
  margin: 0 auto;
  max-width: 85rem;
  @media #{$phone} {
    padding: 0.5rem;
  }
  padding: 1rem;
}

.galerie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.galerie-item {
  line-height: 0;
  padding: 1px;
  img {
    width: 100%;
    height: auto;
  }
}

.galerie-detail-view {
  padding-top: 1rem;
}

.galerie-titlebar {
  background-color: #eee;

  .title {
    max-width: 55rem;
    margin: 0 auto;
    padding: 1rem 0 0.5rem;
  }
  .creator {
    max-width: 55rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
  }
}
