#featured {
  padding: 1rem 1rem 0;
}
.jumbotron {
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 5px;
  max-width: 55rem;
  min-height: 340px;
  display: flex;
  align-items: center;

  padding: 1.4rem 3rem;
  @media #{$phone} {
    padding: 1.4rem;
  }

  background: no-repeat center/cover url("/images/namibia.jpg");
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 40ch,
      rgba(0, 0, 0, 0)
    );

    @media #{$phone} {
      background: rgba(0, 0, 0, 0.6);
    }

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    z-index: 10;
    height: 100%;
  }

  .jumbotron-content {
    position: relative;
    z-index: 11;

    color: white;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      color: white;
    }

    a {
      color: white;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #bbb;
      }
    }

    max-width: 40ch;
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}
#next-vhs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80rem;
  margin: 0 auto;
  .announcement {
    width: 60ch;
    article {
      border-bottom: 1px #666 solid;
      padding: 0.8rem 1.4rem;
      text-decoration: none;
      &:last-of-type {
        border: none;
      }
      a,
      a:hover {
        text-decoration: none;
      }

      time {
        color: #666;
        font-weight: 400;
        font-variant: small-caps;
      }
      .title {
        color: #555;
        font-size: 17px;
        font-weight: 700;
        padding: 0.4rem 0;
      }
    }
  }
  .oeffnungszeiten {
    width: 40ch;
  }
}

#wrapper-oeffnungszeiten {
  // background-color: #aaa;
  padding: 1rem 0;
}

#banner-oeffnungszeiten {
  text-align: center;
  max-width: 65ch;
  margin: 0 auto;
  padding: 0 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
.card {
  width: 300px;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-header {
  font-size: 14px;
  font-weight: 700;
  color: #444;
  margin: 0.4rem 0;
}
.card-content {
  font-size: 14px;
}

.blog-newest {
  > h2 {
    margin: 1.5rem auto;
    max-width: 70rem;
    padding: 0 1rem;
  }
}
