#featured {
  text-align: center; // Weihnachtsgrüße
  padding: 0rem 2rem 2rem;
  @media #{$phone} {
    padding: 0rem 1rem 1rem;
  }
}
.article-card {
  border-radius: 8px;
  @media #{$phone} {
    min-height: 15rem;
  }
  min-height: 24rem;
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.65) 0 5px 25px; // filter: drop-shadow() leads to ugly rendering issue

  padding: 1.4rem 3rem;
  @media #{$phone} {
    padding: 1.4rem;
  }
  // fallback image
  background: no-repeat center/cover url("/uploads/namibia.jpg");
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: inherit;
    z-index: 10;

    // Weihnachtsgrüße
    // background: linear-gradient(
    //  to right,
    //  rgba(0, 0, 0, 0.925) 50%,
    //  rgba(0, 0, 0, 0)
    // );

    background: rgba(0, 0, 0, 0.5);

    // Weihnachtsgrüße
    // @media #{$phone} {
    // background: rgba(0, 0, 0, 0.5);
    // }
  }

  > .article-card-content {
    z-index: 11;
    color: white;
    // width: 65%;
    width: 100%; // Weihnachtsgrüße

    @media #{$phone} {
      width: 100%;
    }
    // font-size: 1.125rem; // Weihnachtsgrüße
    font-size: 2rem;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    .heading {
      font-size: 2.5rem;
      font-weight: 700;
      color: white;
    }

    a {
      color: white;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #bbb;
      }
    }
  }
}

#next-vhs {
  max-width: 70rem;
  .row {
    display: flex;
    gap: 2.5rem;
    @media #{$phone} {
      flex-direction: column;
    }
  }

  #facebook-embed {
    height: 650px;
    min-width: 500px;
    text-align: right;
    @media #{$phone} {
      text-align: left;
      min-width: unset;
      max-width: 500px;
    }
  }

  .announcement {
    width: 100%;
    article {
      border-bottom: 1px #666 solid;
      padding: 1.4rem 0 0.9rem;
      text-decoration: none;
      &:last-of-type {
        border: none;
      }
      a {
        display: block;
        &:hover {
          text-decoration: none;
        }
      }

      time {
        color: #666;
        font-weight: 400;
        font-variant: small-caps;
      }
      .title {
        color: #555;
        font-size: 17px;
        font-weight: 700;
        padding: 0.4rem 0;
      }
    }
  }
}

#blog-newest {
  background-color: #eee;
  padding: 0.5em 0;
  > h2 {
    margin: 1.5rem auto;
    max-width: 70rem;
    padding: 0 2rem;
    @media #{$phone} {
      padding: 0 1rem;
    }
  }
}

#landing-container {
  background-image: url(/uploads/luftbild.jpg);
  background-size: cover;
  background-color: rgba($color: #000, $alpha: 0.6);
  background-blend-mode: darken;
  color: #eee;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  font-weight: 700;
  height: 50vw;

  @media #{$large} {
    height: 75vh;
    font-size: 0.8em;
  }

  @media #{$phone} {
    height: 40vh;
    font-size: 1.2vw;
  }

  #landing {
    @media #{$phone} {
      width: 80%;
    }

    > div:nth-child(1) {
      font-size: 3em;
    }

    > div:nth-child(2) {
      font-size: 10.5em;
    }

    > div:nth-child(3) {
      font-size: 6em;
    }

    > div:nth-child(4) {
      font-size: 2.2em;
    }
  }
}

#event-ribbon {
  background-color: #eee;
  display: flex;
  justify-content: center;
  line-height: 1.8;
  padding: 1.2rem 0;
  > div {
    max-width: 70rem;
    padding: 0 1rem;
    h4 {
      display: inline-block;
      font-weight: 700;
      margin: 0;
    }
    > span {
      display: inline-block;
      margin-right: 1rem;
      > a > .vhs {
        font-weight: 700;
        padding: 0.1rem 0.2rem;
        border-radius: 4px;
        margin-right: 0.2rem;
      }
      > time {
        background-color: lighten($color: #036, $amount: 13);
        border-radius: 4px;
        color: white;
        margin-right: 0.2rem;
        padding: 0.2rem 0.3rem;
      }
    }
  }
}
