#featured {
  padding: 0rem 2rem 2rem;
  @media #{$phone} {
    padding: 0rem 1rem 1rem;
  }
}
.article-card {
  border-radius: 8px;
  @media #{$phone} {
    min-height: 15rem;
  }
  min-height: 24rem;
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.65));

  padding: 1.4rem 3rem;
  @media #{$phone} {
    padding: 1.4rem;
  }
  // fallback image
  background: no-repeat center/cover url("/uploads/namibia.jpg");
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: inherit;
    z-index: 10;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.925) 50%,
      rgba(0, 0, 0, 0)
    );

    @media #{$phone} {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  > .article-card-content {
    z-index: 11;
    color: white;
    width: 65%;

    @media #{$phone} {
      width: 100%;
    }
    font-size: 1.125rem;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    .heading {
      font-size: 2.5rem;
      font-weight: 700;
      color: white;
    }

    a {
      color: white;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #bbb;
      }
    }
  }
}

.main-with-aside {
  display: flex;
  max-width: 70rem;
  margin: 0 auto 2rem auto;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
  @media #{$phone} {
    padding: 0 1rem;
    flex-direction: column;
    gap: unset;
  }
}

.main-content {
  max-width: 65ch;
}

.main-aside {
  max-width: 40ch;
  min-width: 20ch;
  @media #{$phone} {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}

#next-vhs {
  max-width: 70rem;
  .announcement {
    width: 60%;
    @media #{$phone} {
      width: 100%;
    }
    article {
      border-bottom: 1px #666 solid;
      padding: 1.4rem 0 0.9rem;
      text-decoration: none;
      &:last-of-type {
        border: none;
      }
      a {
        display: block;
        &:hover {
          text-decoration: none;
        }
      }

      time {
        color: #666;
        font-weight: 400;
        font-variant: small-caps;
      }
      .title {
        color: #555;
        font-size: 17px;
        font-weight: 700;
        padding: 0.4rem 0;
      }
    }
  }
}

#cards-wrapper {
  background-color: #eee;
  padding: 1rem 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  @media #{$phone} {
    flex-direction: row;
    justify-content: center;
  }
}
.card {
  max-width: 28%;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  @media #{$phone} {
    max-width: 100%;
  }
}
.card-header {
  margin: 0;
}

.card-content {
  font-size: 14px;
}

.blog-newest {
  background-color: #eee;
  padding-top: 1rem;
  > h2 {
    margin: 1.5rem auto;
    max-width: 70rem;
    padding: 0 2rem;
    @media #{$phone} {
      padding: 0 1rem;
    }
  }
}
