$pseudo-full-bleed-fixed-width: 1000px;

.blogpost-image {
  text-align: center;
  img {
    width: 100%;
    max-width: $pseudo-full-bleed-fixed-width;
  }
}
// using full-bleed layout: https://joshwcomeau.com/css/full-bleed/
.post-content {
  display: grid;
  grid-template-columns:
    1fr
    1rem
    // workaround because sass wants to use its own implementation of min(), but we need the css-native one.
    #{"min(65ch, calc(100% - 2rem))"}
    1rem
    1fr;

  > * {
    //   use only row three
    grid-column: 3;
  }

  > hr {
    width: 100%;
  }
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;

  //   constrain width for really large monitor sized
  max-width: $pseudo-full-bleed-fixed-width;
  //   center element
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 100%;
  }
}

#adjacent-posts {
  display: flex;
  background: #eee;
  margin: 30px 0 40px;
  text-align: center;
}

.adjacent-posts-entries {
  margin: 0 auto;
  width: 100ch;

  a {
    text-decoration: none;
    color: black;
    display: block;

    .label,
    .date {
      font-weight: 300;
      font-size: 14px;
    }

    .entry-title {
      display: block;
      margin: 10px 10px 0;
    }

    &:hover .entry-title {
      text-decoration: underline;
      color: #036;
    }
  }
}

.nav-paging-prev,
.nav-paging-next {
  width: 50%;
}

.nav-paging-prev {
  float: left;
  border-right: 1px solid #ccc;
  margin-right: -1px;
}
.nav-paging-next {
  float: right;
}
