.vhs-talk {
  margin-top: 2rem;
}

.vhs-title-prelude {
  margin-bottom: 0.2rem;
  font-size: 17px;
  font-weight: 400;
  display: inline-block;
  padding: 0 0.3rem 0 0.1rem;
  color: #444;
  border-bottom: 1px solid #444;
}

.vhs-talk-title {
  margin: 0;
}

.vhs-talk-image {
  line-height: 0;
  padding: 1rem 0;
  text-align: center;

  > img {
    border-radius: 3px;
    width: auto;
    height: 70%;
    max-height: 500px;
  }
}

.vhs-talk-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  border-bottom: #444 1px solid;
  padding-bottom: 0.7rem;

  color: #444;
  font-size: 14px;
  line-height: 2;
  i {
    letter-spacing: 5px;
  }
  .date {
    font-weight: 800;
  }
}
