.vhs-talk-image {
  line-height: 0;
  
  > img {
    border-radius: 3px;
    width: auto;
    height: 70%;
    max-height: 500px;
  }
}

.vhs-talk-title {
  margin: 0;
}
.vhs-title-prelude {
  margin-bottom: 0.2rem;
  font-size: 18px;
  font-weight: 500;
}

.vhs-talk-meta {
  display: inline-block;
  min-width: 25%;
  color: #333;
  font-size: 15px;
  line-height: 2;
  i {
    letter-spacing: 5px;
  }
  .date {
    font-weight: 700;
  }
}


.vhs-talk-content {
  max-width: 60ch;
}