$link-color: lighten(
  $color: #036,
  $amount: 10%,
);

html {
  scroll-padding-top: 70px;
}

body {
  font-family: "Metropolis", "Arial", "Helvetica", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  font-size: 16px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  color: #222;
  font-weight: 700;
}

strong {
  font-weight: 800;
}

h1 {
  font-size: 2rem;
  @media #{$phone} {
    font-size: 1.5rem;
  }
}

h2 {
  padding-top: 1rem;
}

.titlebar {
  background-color: #eee;
  hyphens: auto;
}

.title {
  font-size: 2.5rem;
  max-width: 55rem;
  padding: 1.75rem 2rem;
  @media #{$phone} {
    padding: 1.25rem 1rem;
    font-size: 1.75rem;
  }
  margin: 0 auto;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

address {
  font-style: normal;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 21px;
  border-left: 2px solid #597694;
  margin-left: 1rem;
  padding: 0.2rem 0 0.1rem 1rem;
}

code {
  padding: 2px 5px;
  font-family: monospace;
  color: #036;
  background-color: #eee;
  border-radius: 4px;
}

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

.center {
  text-align: center;
}

.nobullets {
  list-style: none;
  padding-left: 0;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;

  > thead tr {
    background: #003366;
    background: linear-gradient(to right, #003366, lighten(#036, 12%));
    color: white;
  }

  th,
  td {
    padding: 0.7rem 1.5rem;
  }

  > tbody tr {
    border-bottom: thin solid #ccc;
    &:nth-of-type(2n) {
      background-color: #f7f7f7;
    }
  }
}

figure {
  display: block;
  margin: 1rem 0;
  line-height: 0;
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
  figcaption {
    font-weight: 400;
    line-height: 1.125;
    font-size: 0.92rem;
    margin-top: -0.4rem;
    color: #888;
  }
}
