body {
  margin: 0;
  padding: 0;
  font-family: 'Metropolis', "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
}

.content {
  margin: 0 auto;
  max-width: 55rem;
  padding: 0 1rem;
}

hr {
  border: 0;
  border-top: 3px solid #597694;
  margin-top: 40px;
  padding-top: 30px;
}

h1,
h2,
h3,
strong {
  color: #222;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  padding-top: 1rem;
}

.titlebar {
  margin-top: 68px;
  width: 100%;
  background-color: #eee;
}

.title {
  max-width: 55rem;
  padding: 1.75rem 1rem;
  margin: 0 auto;
}

a {
  color: #003366;
}

blockquote {
  padding: 0.4rem 0 0 0.4rem;
  margin: 0;
  background-color: #ddd;
  border-left: 4px solid #003366;
}

blockquote > p {
  padding: 0.8rem;
}
  
#topnav {
  background-color: #003366;
  background-image: linear-gradient(to right, #003366, #0b5fb3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  width: 100%;
}

.menu {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  height: 68px;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.5rem;
  align-items: center;
}

.site-title,
.navbar a,
.navbar button {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 25px 1rem;
  transition: ease .2s;
}

.site-title {
  display: none;
}

.hamburger {
  display: none;
  z-index: 9998;
}

.hamburger > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background-color: aliceblue;
  margin: 6px;
}

.navbar > li:hover > a,
.navbar > li.active > a,
.navbar > li:hover > button,
.navbar > li.active > button,
.dropdown-items > li:hover > a,
.dropdown-items > li.active > a {
  background-color: rgba(0, 0, 0, 0.12);
  transition: ease .2s;
}

.dropdown {
  position: relative;
}

.dropdown-items {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  z-index: 9998;
  min-width: 7rem;
  background-color: white;
  border-left: #003366 0.37rem solid;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  padding: 0;
  transition: ease .2s;
}

.dropdown-button::after {
  visibility: hidden;
  opacity: 0;

  content: "";
  width: 0; 
  height: 0; 
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;  
  border-bottom: 0.7rem solid white;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.7rem;
  z-index: 9997;
  transition: ease .2s;
}

.dropdown-items > li {
  list-style: none;
}

.dropdown-items > li > a {
  display: block;
  color: #333;
  padding: 0.4rem 0.7rem;
  transition: ease .2s;  
}

.dropdown:hover .dropdown-items,
.dropdown:hover .dropdown-button::after {
  visibility: visible;
  opacity: 1;
  transition: ease .2s;
}

.navbar-toggle {
  display: none;
}

.pagination {
  list-style: none;
  .page-item {
    display: inline;
  }
}

.blog-header {
  margin-top: 68px;
  margin-bottom: 2rem;
  background-color: #ddd;
  background-image: url("/images/namibia.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  h1 {
    padding: 5rem 2rem;
    max-width: 70rem;
    margin: 0 auto;

    span {
      background-color: black;
      color: white;
      padding: 0 0.5rem;
      font-weight: 200;
      font-size: 2.5rem;
    }
  }
}

.posts-grid {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 33.32%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6rem;

  @media (max-width: 1100px) {
    width: 50%;
  }

  @media (max-width: 769px) {
    width: 100%;
  }

   
  .post-link {
    text-decoration: none;

    img {
      width: 100%;
    }

    .post-title {
      padding: 0 1rem;
      margin-bottom: 0;

      @media screen and (max-width: 769px) {
        font-size: 18px;
      }
    }

    &:hover {
      text-decoration: underline;
      .post-title {
        color: #036;
      }
    }
  }

  .post-info {
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 600;
  }

  .post-summary {
    padding: 0 1rem;
    
    .go {      
      font-weight: 600;
      
      &::after {
        content: " >";
        text-decoration: none;
      }
    }
  }
}


@media (max-width: 769px) {
  .navbar {
    display: none;
    position: fixed;
    top: 68px;
    left: 0;
    background: white;
    max-height: calc(100vh - 68px);
    overflow-y: auto;
    width: calc(100vw - calc( 2 * 2rem));
    padding: 0 2rem;
  }
  
  .navbar-toggle {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 0.5rem;
    cursor: pointer;
    width: 40px;
    height: 30px;
    margin: 0;
    z-index: 9999;
    opacity: 0;
  }
  
  .navbar-toggle:checked + .navbar {
    display: block;
  }
    
  .navbar > li > button,
  .navbar > li > a {
    color: #333;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    margin: 0.75rem 0;
    padding: 0.75rem 0;
    text-align: left;
  }
  
  .navbar > li > a {
    line-height: normal;
  }
  
  .navbar > li:last-child > a {
    margin-bottom: 10rem;
  }

  .dropdown-button::after {
    content: none;
  }

  .dropdown-items {
    visibility: visible;
    opacity: 1;
    position: unset;
    transform: none;
    box-shadow: none;
    padding: 0.5rem 0 1rem 3rem;
    border-left: none;
  }

  .dropdown-items > li > a {
    padding: 0.7rem 0;
    color: #555;
    background: none;
    border-bottom: none;
  }

  .menu {
    justify-content: space-between;
    padding: 0 0.5rem 0 1rem;
  }

  .site-title {
    display: block;
    padding: 0;
    margin: 0 0.5rem;
  }

  .hamburger {
    display: block;
  }

  main img {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  .navbar > li:hover > a,
  .navbar > li.active > a,
  .navbar > li:hover > button,
  .navbar > li.active > button,
  .dropdown-items > li:hover > a,
  .dropdown-items > li.active > a {
    background-color: inherit;
    transition: none;
  }
}