{{ define "main" }}
<header class="blog-header">
    <h1><span>Neues auf der Sternwarte</span></h1>
</header>
<main>    
    <div class="posts-grid">
    {{ range (.Paginator 12).Pages }}
        <article class="post">
            <header class="post-header">
                <a class="post-link" href="{{ .RelPermalink }}" title='Permanenter Link zu "{{ .Title }}"'>
                    <div class="post-image">
                        {{ if .Params.images }}
                            {{ with (.Resources.GetMatch (index .Params.images 0)).Fit "600x330 q80" }}
                                <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
                            {{ end }}
                        {{ end }}
                    </div>
                    <h2 class="post-title">{{ .Title }}</h2>
                </a>
                <div class="post-info">
                    {{ with .PublishDate }}
                    <time class="date published" datetime='{{ . }}'>{{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate )}}</time>                        
                    {{ end }}
                </div>
            </header>
            <div class="post-summary">
                <p>{{ .Summary }}</p>
                <a class="go" href="{{ .RelPermalink }}">Weiterlesen</a>
            </div>        
        </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
    </div>
</main>
{{ end }}