{{ define "main" }}
<div class="blog-header titlebar">
    <h1 class="title">{{ .Title }}</h1>
</div>
<div class="posts-grid">    
    {{ range (.Paginate .Pages 12).Pages }}
    <article class="post">
        <header class="post-header">
            <a class="post-link" href="{{ .RelPermalink }}" title='Permanenter Link zu "{{ .Title }}"'>
                <div class="post-image">
                    {{ if .Params.images }}
                        {{ with (.Resources.GetMatch (index .Params.images 0)).Fill "600x330 q80" }}
                            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
                        {{ end }}
                    {{ end }}
                </div>
                <h2 class="post-title">{{ .Title }}</h2>
            </a>
            <div class="post-info">
                {{ with .PublishDate }}
                Veröffentlicht am <time class="date published"
                    datetime='{{ . }}'>{{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate )}}</time>
                {{ end }}
            </div>
        </header>
        <div class="post-summary">
            <p>{{ .Summary }}</p>
            <a class="go" href="{{ .RelPermalink }}">Weiterlesen {{ partial "arrow.html" }}</a>
        </div>
    </article>
    {{ end }}
</div>    
{{ partial "pagination.html" . }}
{{ end }}