{{ define "main" }}
<header class="blog-header">
  <h4><span>Neues auf der Sternwarte</span></h4>
</header>
<main>
  {{ if .Params.images }}
  {{ $img := (.Resources.GetMatch (index .Params.images 0)) }}
  {{ if gt $img.Width 1000 }}
  {{ $img := $img.Resize "1000x" }}
  {{ end }}
  {{ with $img }}
  <div class="blogpost-image">
    <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
  </div>
  {{ end }}
  {{ end }}
  <article class="post-content">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-info">
      {{ with .PublishDate }}
      <time class="date published"
        datetime='{{ . }}'>{{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate )}}</time>
      {{ end }}
    </div>
    {{ .Content }}
  </article>
</main>

<nav id="adjacent-posts">
  <div class="adjacent-posts-entries">
    {{ if .PrevInSection }}
    {{ with .PrevInSection }}
    <p class="nav-paging-prev">
      <a href="{{ .RelPermalink }}">
        <span class="label">🢀 Vorheriger Eintrag</span>
        <strong class="entry-title">{{ .Title }}</strong>
        {{ with .PublishDate }}
        <time class="date"
          datetime='{{ . }}'>{{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate )}}</time>
        {{ end }}
      </a>
    </p>
    {{ end }}
    {{ end }}

    {{ if .NextInSection }}
    {{ with .NextInSection }}
    <p class="nav-paging-next">
      <a href="{{ .RelPermalink }}">
        <span class="label">Nächster Eintrag 🢂</span>
        <strong class="entry-title">{{ .Title }}</strong>
        {{ with .PublishDate }}
        <time class="date"
          datetime='{{ . }}'>{{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate )}}</time>
        {{ end }}
      </a>
    </p>
    {{ end }}
    {{ end }}
  </div>
</nav>

{{ end }}