.btn {
  text-align: center;
  border-radius: 3px;
  min-width: 196px;
  padding: 15px 16px;
  background-color: #036;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}
