.pagination {
    width: 100%;
    padding: 1rem 0;
    text-align: center;   
    background-color: #003366;
    background-image: linear-gradient(to right, #003366, lighten(#036, 17.5%));
    color: white;
}

.page-item {
    font-weight: bold;

    &.active{ 
        a {            
            background-color: rgba(0,0,0,0.2);
            color: white;
        } 
    }

    &.disabled a {
        color: #aaa;
        background: none;
    }
}


.page-link {
    margin: 0;
    padding: 8px 13px;
    transition: ease .2s;
    color: white;
    &:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0.2);
        color: white;
    }
}