.panel {
  display: block;
  line-height: 1.5;
  margin: 1rem 0;
  border-radius: 8px;
  padding: 1rem 1.2rem;
  box-shadow: 0 0 1rem 0 #ccc;

  background-color: #003366;
  color: white;
  border: 0.2rem rgba($color: white, $alpha: 0.15) dashed;

  a {
    color: lighten($color: #003366, $amount: 60);
  }

  &.success {
    background-color: lighten($color: #143109, $amount: 15);
    color: white;
    border: 0.2rem rgba($color: white, $alpha: 0.15) dashed;

    a {
      color: lighten($color: #143109, $amount: 45);
    }
  }
  &.warning {
    background-color: #fa9500;
    color: black;
    border: 0.2rem rgba($color: black, $alpha: 0.15) dashed;

    a {
      color: darken($color: #fa9500, $amount: 25);
    }
  }
  &.danger {
    background-color: #a4031f;
    color: white;
    border: 0.2rem rgba($color: white, $alpha: 0.3) dashed;

    a {
      color: lighten($color: #a4031f, $amount: 45);
    }
  }
}
