<footer>
  <div class="content">
    <div class="wrapper">
      <div class="footer-logo">
        <img src="/svg/logo.svg" />
      </div>

      <div class="other-logos">
        <ul>
          <li>
            <a href="https://sternfreunde.de/" target="_blank">
              <img
                src="/images/vds-logo.jpg"
                alt="Vereinigung der Sternfreunde"
              />
            </a>
          </li>
          <li>
            <a href="http://astronomie-mitte.de/" target="_blank">
              <img
                src="/images/astronomie-mitte-logo.jpg"
                alt="Astronomie in der Mitte Deutschlands"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="wrapper">
      <div class="address">
        <div class="map">
          <a
            href="https://goo.gl/maps/u4AQZdLQkoJJjjYt7"
            title="Die Sternwarte auf Maps"
            ><img src="/images/map.png" alt="Die Sternwarte auf Maps"
          /></a>
        </div>
        <address>
          <p>
            <strong>Addresse</strong><br />
            An der Sternwarte 2<br />
            55543 Bad Kreuznach<br />
            <a
              href="mailto:info@sternwarte-kreuznach.de"
              title="info@sternwarte-kreuznach.de"
              >info@sternwarte-kreuznach.de</a
            >
          </p>
        </address>
      </div>
      <div class="links">
        <h3>Rechtliches</h3>
        <ul>
          <li><a href='{{ absURL "impressum" }}'>Impressum</a></li>
          <li><a href='{{ absURL "datenschutz" }}'>Datenschutz</a></li>
        </ul>
      </div>
      <div class="links">
        <h3>Links</h3>
        <ul>
          <li>
            <a href="https://vhs-bad-kreuznach.de/" target="_blank"
              >VHS Bad Kreuznach</a
            >
          </li>
          <li>
            <a href="https://sternfreunde.de/" target="_blank"
              >Vereinigung der Sternfreunde e.V.</a
            >
          </li>
          <li>
            <a href="http://astronomie-mitte.de/" target="_blank"
              >Astronomie in der Mitte Deutschlands</a
            >
          </li>
          <li>
            <a href="https://www.astronomie-in-alzey.de/" target="_blank"
              >Interessengemeinschaft der Hobbyastronomen Alzey und Umland
              e.V.</a
            >
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div id="copyright">
      &copy; {{ now.Format "2006"}} Sternwarte Bad Kreuznach e.V.
    </div>
  </div>
</footer>
