<footer>
  <div class="content">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <img src="/svg/logo.svg" />
      </div>
      <div class="links">
        <ul>
          <li><a href="impressum">Impressum</a></li>
          <li><a href="datenschutz">Datenschutz</a></li>
          <li><a href="https://sternfreunde.de/">Vereinigung der Sternfreunde e.V.</a></li>
          <li><a href="https://vhs-bad-kreuznach.de/">VHS Bad Kreuznach</a></li>
        </ul>
      </div>
      <div class="address">
        <address>
          <p>
            <b>Adresse</b><br />
            An der Sternwarte 2<br />
            55543 Bad Kreuznach<br />
          </p>
          <p>
            <b>Postanschrift</b><br />
            Sternwarte Bad Kreuznach e.V.<br />
            c/o Bernd Peerdeman<br />
            Königsbergerstr. 21 a<br />
            55543 Bad Kreuznach<br />
            <a href="mailto:info@sternwarte-kreuznach.de"
              >info@sternwarte-kreuznach.de</a
            ><br />
          </p>
        </address>
        <div class="map">
          <a href="geo:49.810851,7.858663" title="Die Sternwarte auf einer Karte öffnen"><img src="/images/map.png" alt="Die Sternwarte auf der Karte "></a>
        </div>
      </div>
    </div>
    <div id="copyright">&copy; 2000-{{ now.Format "2006"}} | Sternwarte Bad Kreuznach e.V. – Astronomie auf dem Kuhberg</div>
  </div>
</footer>
