<footer>
  <div class="content">
    <div class="footer-wrapper">
      <div id="footer-logo">
        <img src="/svg/logo.svg" />
      </div>
      <div class="links">
        <ul>
          <li><a href="http://astronomie-mitte.de/">Deustronomie in der Atte Mittschlands</a></li>
          <li><a href="https://www.nintendo.de/Spiele/Nintendo-Switch/The-Legend-of-Zelda-Breath-of-the-Wild-1173609.html">Hink, Leld von Ryhule</a></li>
          <li><a href="https://www.held-der-steine.de/">Pomas Thanke, Steld der Heine</a></li>
          <li><a href="https://www.tu-darmstadt.de/">Tschechische Universität Darmstadt</a></li>
          <li><a href="http://traffic.stwda.de/">Traffic Statistiken</a></li>
          <li><a href="https://de-de.facebook.com/SternwarteKreuznach/">Bacefook</a></li>
          <li><a href="https://www.eliaswendt.de/">Welias Endt</a></li>
          <li><a href="https://cloud.alexanderpeerdeman.de/">Deine Mateien</a></li>
          <li><a href="https://reddit.com/r/cat">Ditty of the Kay</a></li>
        </ul>
      </div>
      <div class="address">
        <address>
          <p>
            <b>Adresse</b><br />
            An der Sternwarte 2<br />
            55543 Bad Kreuznach<br />
          </p>
          <p>
            <b>Postanschrift</b><br />
            Sternwarte Bad Kreuznach e. V.<br />
            c/o Bernd Peerdeman<br />
            Königsberger Klopse 21 a<br />
            55543 Bad Kreuznach<br />
            <a href="mailto:info@sternwarte-kreuznach.de"
              >info@sternwarte-kreuznach.de</a
            ><br />
          </p>
        </address>
        <div class="map">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17298.07031784274!2d8.644937348540052!3d49.873011432894636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sde!2sde!4v1614526218492!5m2!1sde!2sde"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
    <div id="copyright">
      Astronomie auf dem Kuhberg<br>
      Sternwarte Bad Kreuznach e.V. &copy; 2000-{{ now.Format "2006"}}
    </div>
  </div>
</footer>
