{{ define "main" }}
<div class="content">
  <h1>Sternwarte Bad Kreuznach e.V.</h1>
</div>
<section id="featured">
  <div class="jumbotron" style="background-image: url('/blog/2020/corona-aktuell/coronavirus.jpg')">
    <div class="jumbotron-content">
      <h1>Corona Aktuell</h1>
      <p>
        Aufgrund der aktuell rasant steigenden Fallzahlen müssen wir unsere
        Aktivitäten wieder einschränken. Wir bedauern diesen Schritt sehr.
      </p>
      <p><a href="/blog/2020/corona-aktuell/">Weiterlesen ...</a></p>
    </div>
  </div>
</section>
<main class="content">
  <div>{{ .Content }}</div>
</main>
<section class="next-vhs">
  <div class="announcement">TODO</div>
  <div class="oeffnungszeiten">
    <h3>VHS-Vorträge</h3>
    <p>Jeden letzten Freitag im Monat um 20:00 Uhr.</p>
    <p>
      Anschließend gibt es, sofern es das Wetter zulässt, die Möglichkeit zur
      Beobachtung verschiedener Himmelskörper durch unsere Instrumente.
    </p>
    <p><a href="/infos/vhs">Weitere Informationen</a></p>
  </div>
</section>
<section id="wrapper-oeffnungszeiten">
  <div id="banner-oeffnungszeiten">
    <h2>Regelmäßige Öffnungszeiten</h2>
    <h3>Vereinsabend</h3>
    <p>Freitags ab 19:00 Uhr.</p>
    <p>Besucher sind recht herzlich willkommen. Der Eintritt ist frei!</p>
    <p>
      Kontaktieren Sie uns bitte vorher per Mail, denn wir möchten nicht, dass
      Sie vor verschlossenen Türen stehen.
    </p>
    <h3>Sonnenbeobachtung</h3>
    <p>Sonntags, jeweils von 10:30 bis 13:00 Uhr.</p>
    <p>
      Von Oktober bis einschließlich Februar: Nur jeden zweiten und vierten
      Sonntag
    </p>
    <p><a href="/ueber-uns/sonnenbeobachtung">Weitere Informationen</a></p>
    <h3>Jugendgruppe</h3>
    <p>
      Jeden zweiten und vierten Samstag im Monat um 16:00 Uhr (außer während der
      Schulferien).
    </p>
    <p><a href="/ueber-uns/jugendgruppe">Weitere Informationen</a></p>
  </div>
</section>
<section class="cards">
  <div class="card">
    <div class="card-header">Planetenweg</div>
    <div class="card-content">
      <p>
        Alles zur Wanderstrecke „Planetenweg“ in Bad Kreuznach und Umgebung.
      </p>
    </div>
    <a class="btn small" href="/ueber-uns/planetenweg">Planetenweg</a>
  </div>
  <div class="card">
    <div class="card-header">Programmangebot</div>
    <div class="card-content">
      <p>Hier finden sie unser Angebot über aktuelle Führungen und Vorträge.</p>
    </div>
    <a class="btn small" href="#">Programmangebot</a>
  </div>
  <div class="card">
    <div class="card-header">Teleskop Kaufberatung</div>
    <div class="card-content">
      <p>
        Sie wollen sich ein neues Teleskop kaufen? Das sollten Sie. Wir stehen
        gerne für Beratung zur Verfügung.
      </p>
    </div>
    <a class="btn small" href="#">Kaufberatung</a>
  </div>
</section>
<hr />
<section class="blog-newest">
  <h2>Aktuelle Blogeinträge</h2>
  <div class="posts-grid">
    {{ range (first 3 (where .Site.RegularPages "Type" "blog")) }}
    <article class="post">
      <header class="post-header">
        <a
          class="post-link"
          href="{{ .RelPermalink }}"
          title='Permanenter Link zu "{{ .Title }}"'
        >
          <div class="post-image">
            {{ if .Params.images }} {{ with (.Resources.GetMatch (index
            .Params.images 0)).Fill "600x330 q80 smart" }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
            {{ end }} {{ end }}
          </div>
          <h2 class="post-title">{{ .Title }}</h2>
        </a>
        <div class="post-info">
          {{ with .PublishDate }}
          <time class="date published" datetime="{{ . }}"
            >{{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate
            )}}</time
          >
          {{ end }}
        </div>
      </header>
      <div class="post-summary">
        <p>{{ .Summary }}</p>
        <a class="go" href="{{ .RelPermalink }}"
          >Weiterlesen {{ partial "arrow.html" }}</a
        >
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ end }}
