{{ define "main" }} {{ with (.GetPage "home-content/intro") }}
<section class="content">{{ .Content }}</section>
{{ end }} {{ with .GetPage "home-content/featured" }}
<section id="featured">
  <article
    class="article-card"
    style="background-image: url('{{ ((.Resources.GetMatch "picture").Resize "1500x").RelPermalink  }}')"
  >
    <div class="article-card-content">
      <div class="heading">{{ .Title }}</div>
      {{ .Content }}
    </div>
  </article>
</section>
{{ end }}
<section class="main-with-aside">
  <article class="main-content">{{ .Content }}</article>
  {{ with (.GetPage "home-content/aside") }}
  <section class="main-aside">{{ .Content }}</section>
  {{ end }}
</section>
{{/*
<section id="cards-wrapper">
  <div class="cards">
    {{ range (.GetPage "home-cards").Resources.ByType "page" }}
    <div class="card">
      <h4 class="card-header"><a href="{{ .Params.link }}">{{ .Title }}</a></h4>
      <div class="card-content">{{ .Content }}</div>
    </div>
    {{ end }}
  </div>
</section>
*/}}
<section id="next-vhs" class="content">
  <hr />
  <div class="row">
    {{ $currentTime := now.Format "2006-01-02T15:04:05" }} {{/* {{ $talks :=
    ((.GetPage "/vhs").Pages.ByParam "talk_date") }} */}} {{ $talks := (where
    ((.GetPage "/vhs").Pages.ByParam "talk_date") ".Params.talk_date" "ge"
    $currentTime) }} {{ $talks := (where $talks "Params.layout" "!=" "archiv")
    }}

    <div class="announcement">
      <h2><a href="/vhs">Aktuelle Vorträge</a></h2>
      <div class="panel info">
        Ab Juli 2024 finden wieder VHS-Vorträge statt.        
      </div>
      {{ if le (len $talks) 0 }}
      <p>Bisher sind keine weiteren Vorträge angekündigt.</p>
      {{ end }} {{ range (last 4 $talks)}}
      <article>
        <a
          href="{{ .RelPermalink }}"
          title='Permanenter Link zu "{{ .Title }}"'
        >
          {{ with .Params.talk_date }}
          <time class="date published" datetime="{{ . }}">
            {{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate
            )}}
          </time>
          {{ end }}
          <div class="title">{{ .Title }}</div>
        </a>
      </article>
      {{ end }}
    </div>
    {{/*  {{ partial "social/facebookPagePlugin.html" }}  */}}
  </div>
</section>
<section class="blog-newest">
  <h2><a href="/blog">Aktuelles im Blog</a></h2>
  <div class="posts-grid">
    {{ range (first 3 (where .Site.RegularPages "Type" "blog")) }}
    <article class="post">
      <header class="post-header">
        <a
          class="post-link"
          href="{{ .RelPermalink }}"
          title='Permanenter Link zu "{{ .Title }}"'
        >
          <div class="post-image">
            {{ if .Params.images }} {{ with (.Resources.GetMatch (index
            .Params.images 0)).Fill "600x330 q80 smart" }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
            {{ end }} {{ end }}
          </div>
          <h2 class="post-title">{{ .Title }}</h2>
        </a>
        <div class="post-info">
          {{ with .PublishDate }}
          <time class="date published" datetime="{{ . }}">
            {{ partial "date.html" (dict "date" . "monate" $.Site.Data.monate
            )}}</time
          >
          {{ end }}
        </div>
      </header>
      <div class="post-summary">
        <p>{{ .Summary }}</p>
        <a class="go" href="{{ .RelPermalink }}"
          >Weiterlesen {{ partial "arrow.html" }}</a
        >
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "social/facebookSDK.html" }} {{ end }}
