{{ $currentPage := . }}
<nav id="topnav">
  <div class="menu">
    <a class="logo" href="{{ .Site.BaseURL }}"><img src='{{ relURL "svg/logo.svg" }}' width=68 height=68 alt="Logo"></a>
    <a class="site-title" href="{{ .Site.BaseURL }}">Sternwarte Bad Kreuznach e.V.</a>
    <input class="navbar-toggle" type="checkbox">
    <ul class="navbar">
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="dropdown">
        <button class="dropdown-button">{{ .Name }}</button>
        <ul class="dropdown-items">
          {{ range .Children }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ else}}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>