{{ define "main" }}
{{ $page := . }}
<header class="galerie-titlebar">
    <h1 class="title">{{ .Title }}</h1>
    <div class="creator">von {{ .Params.creator }}</div>
</header>
<main class="galerie-detail-view">
    <article class="content">
        {{ if .Params.images }}
            {{ with (.Resources.GetMatch (index .Params.images 0)) }}
                <a href="{{ .RelPermalink }}" title="{{ $page.Title }}"><img src="{{ .RelPermalink }}" alt="{{ $page.Title }}"></a>
            {{ end }}
        {{ end }}
        {{ .Content }}
    </article>
</main>
{{ end }}