{{ define "main" }}
{{ $page := . }}
<div class="galerie-titlebar">
    <div>
        <h1>{{ .Title }}</h1>
        <div class="creator">von {{ .Params.creator }}</div>
    </div>
</div>
<article class="content galerie-detail-view">
    {{ if .Params.images }}
        {{ with (.Resources.GetMatch (index .Params.images 0)).Process "q90 webp" }}
            <a href="{{ .RelPermalink }}" title="{{ $page.Title }}"><img src="{{ .RelPermalink }}" alt="{{ $page.Title }}"></a>
        {{ end }}
    {{ end }}
    {{ .Content }}
</article>
{{ end }}