footer {
  background-color: #333;
  color: #ddd;
  font-size: 13px;
  margin-top: 3rem;

  a {
    color: lighten($color: #036, $amount: 55);
  }

  .content {
    max-width: 1200px;
    padding: 1rem 2rem 1rem;
  }
  
  #copyright {
    color: #555;
    font-size: 11px;
    font-family: monospace;
    padding-top: 1rem;
  }

  #logo {
    > img {
      height: 8rem;
    }
    padding: 0.75rem 2rem 0 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media #{$phone} {
      justify-content: start;
    }

    .links {
      padding: 0.75rem 2rem 0 0; 

      @media screen and (max-width: 1123px) and (min-width: 430px) {
        column-count: 2;
      }

      > ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }

    .address {
      display: flex;
      border-left: #ddd solid 1px;

      @media #{$phone} {
        border-left: none;
        padding-left: 0;
        flex-wrap: wrap;
      }

      address {
        padding: 0 2rem;
        @media #{$phone} {
          padding-left: 0;
        }
      }

      > .map {
        padding: 0.75rem 0 1rem 2rem;

        @media #{$phone} {
          padding-left: 0;
        }

        > iframe {
          width: 100%;
        }
      }
    }
  }
}
