footer {
  background-color: #444;
  color: #ddd;
  font-size: 0.8rem;

  hr {
    border-color: #666;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    font-weight: 800;
    margin-bottom: 0.3rem;
  }

  a {
    color: #64beff;
    font-weight: 600;
  }

  .content {
    max-width: 900px;
    padding: 2rem 3rem 1rem;
    margin: 0 auto;

    .wrapper {
      &:first-of-type {
        align-items: flex-end;
        @media #{$phone} {
          align-items: center;
        }
      }
      @media #{$phone} {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
      }
      justify-content: space-between;
      display: flex;
      gap: 1rem;

      .footer-logo {
        > img {
          height: 8rem;
        }
      }

      .other-logos {
        padding: 1rem 0 0;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 0;
        }
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          line-height: 0;
          list-style-type: none;
          gap: 1rem;
          li {
            img {
              max-height: 4.5rem;
            }
          }
        }
      }

      .links {
        ul {
          list-style-type: none;
          padding: 0;
        }
      }

      .address {
        display: flex;
        gap: 1rem;
        @media #{$phone} {
          flex-direction: column;
          gap: 0;
        }

        > .map {
          img {
            border-radius: 100%;
            width: 100%;
            max-width: 100px;
          }
        }
      }
    }
  }

  #copyright {
    text-align: center;
    margin: 1rem 0 1.25rem;
  }
}
