#topnav {
  background-color: #003366;
  background-image: linear-gradient(to right, #003366, lighten(#036, 17.5%));
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  width: 100%;
}

.menu {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
  align-items: center;

  @media #{$phone} {
    justify-content: space-between;
    padding: 0 0.5rem 0 1rem;
  }
}

.logo {
  display: flex;
  max-width: 100px;
  > img {
    height: 47px;
    padding: 10px;
  }
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.5rem;
  align-items: center;

  @media #{$phone} {
    display: none;
    position: fixed;
    top: 67px;
    left: 0;
    background: white;
    max-height: calc(100vh - 67px);
    overflow-y: auto;
    width: calc(100vw - calc(2 * 2rem));
    padding: 0 2rem;
  }
}

.site-title,
.navbar a,
.navbar button {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 25px 1rem;
  transition: ease 0.2s;
}

.site-title {
  display: none;
  @media #{$phone} {
    display: block;
    padding: 0;
    margin: 0 0.5rem;
  }
}

.hamburger {
  display: none;
  z-index: 9998;

  @media #{$phone} {
    display: block;
  }
}

.hamburger > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background-color: aliceblue;
  margin: 6px;
}

.navbar > li:hover > a,
.navbar > li.active > a,
.navbar > li:hover > button,
.navbar > li.active > button,
.dropdown-items > li:hover > a,
.dropdown-items > li.active > a {
  background-color: rgba(0, 0, 0, 0.12);
  transition: ease 0.2s;

  @media #{$phone} {
    background-color: inherit;
    transition: none;
  }
}

.dropdown {
  position: relative;
}

.dropdown-items {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  z-index: 9998;
  min-width: 7rem;
  background-color: white;
  border-left: #003366 0.37rem solid;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  padding: 0;
  transition: ease 0.2s;

  @media #{$phone} {
    visibility: visible;
    opacity: 1;
    position: unset;
    transform: none;
    box-shadow: none;
    padding: 0.5rem 0 1rem 3rem;
    border-left: none;
  }
}

.dropdown-button::after {
  visibility: hidden;
  opacity: 0;

  content: "";
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.7rem solid white;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.7rem;
  z-index: 9997;
  transition: ease 0.2s;

  @media #{$phone} {
    content: none;
  }
}

.dropdown-items > li {
  list-style: none;
}

.dropdown-items > li > a {
  display: block;
  color: #333;
  padding: 0.4rem 0.7rem;
  transition: ease 0.2s;

  @media #{$phone} {
    color: #555;
    padding: 0.7rem 0;
    background: none;
  }
}

.dropdown:hover .dropdown-items,
.dropdown:hover .dropdown-button::after {
  visibility: visible;
  opacity: 1;
  transition: ease 0.2s;
}

.navbar-toggle {
  display: none;

  @media #{$phone} {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 30px;
    margin: 0;
    opacity: 0;
    float: left;

    &:checked + .navbar {
      display: block;
    }
  }
}

.pagination {
  list-style: none;
  .page-item {
    display: inline;
  }
}

@media #{$phone} {
  .navbar > li > button,
  .navbar > li > a {
    color: #333;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    margin: 0.75rem 0;
    padding: 0.75rem 0;
    text-align: left;
  }

  .navbar > li > a {
    line-height: normal;
  }

  .navbar > li:last-child > a {
    margin-bottom: 10rem;
  }
}
