body {
  margin: 0;
  padding: 0;
  color: #444;
  background-color: #fff;
}

main {
  min-height: 80vh;
}

.content {
  margin: 0 auto 2rem auto;
  max-width: 55rem;
  padding: 0 2rem;
  @media #{$phone} {
    padding: 0 1rem;
  }
}
