{{ define "main" }}
<header class="vhs-header">
    <h1>{{ .Title }} <span class="subtitle">in Zusammenarbeit mit der <a href="https://vhs-bad-kreuznach.de/"
                target="_blank" rel="noopener noreferrer">Volkshochschule der Stadt Bad Kreuznach</a>
        </span></h1>
    <a href="https://vhs-bad-kreuznach.de/" target="_blank" rel="noopener noreferrer"><img id="vhs-logo"
            src='{{ relURL "images/vhs-logo.jpg" }}' alt="vhs logo"></a>
</header>
{{ if .Content }}
<section class="vhs-content-banner">
    <div>{{ .Content }}</div>
</section>
{{ end }}
<main>
    {{ $currentTime := (time "2019-10-01").Format "2006-01-02T15:04:05" }}
    {{ $currentTime := now.Format "2006-01-02T15:04:05" }}
    {{ $talks := (where (.Pages.ByParam "talk.date") ".Params.talk.date" "ge" $currentTime) }}

    <div class="talks-list">
        {{ range first 3 $talks }}
        {{ partial "vhs/talk-list-article.html" . }}
        {{ else }}
        Keine weiteren Vorträge angekündigt.
        {{ end }}
    </div>
    <div class="talks-banner">
        <div class="talks-info-wrapper">
            <div class="talks-info">
                <h2>Vorträge auf der Sternwarte</h2>
                <p>Die Vorträge finden <strong>Januar bis November</strong> jeden letzten Freitag im Monat statt. Sofern
                    nicht anders angegeben, werden alle Vorträge auf dem <a href="/infos/anfahrt">Gelände der
                        Sternwarte</a> gehalten. Der Verkauf von Karten erfolgt nur an der Abendkasse, Möglichkeiten zur
                    Reservierung oder Kartenvorverkauf gibt es nicht.</p>
                <p>Der <strong>Eintritt beträgt 6,00€</strong> (ermäßigt 4,00€) und es ist ausschließlich Barzahlung
                    möglich.</p>
                <a class="btn" href='/infos/anfahrt'>Anfahrt</a>
                <a class="btn" href='/infos/vortraege'>Weitere Informationen zu Vorträgen</a>
            </div>
        </div>
        <div class="aspect-wrapper">
            <div class="aspect-spacer"></div>
            <span class="aspect-bg" style='background-image: url("/images/chairs.jpg");'></span>
        </div>
    </div>
    {{ if (gt (len $talks) 3) }}
    <div class="talks-list">
        <h3>Weitere Vorträge</h3>
        {{ range first 3 (after 3 $talks) }}
        {{ partial "vhs/talk-list-article.html" . }}
        {{ end }}
    </div>
    {{ end }}
</main>
{{ end }}