{{ define "main" }}
<header class="vhs-header">
    <h1>{{ .Title }} <span class="subtitle">in Zusammenarbeit mit der <a href="https://vhs-bad-kreuznach.de/"
                target="_blank" rel="noopener noreferrer">Volkshochschule der Stadt Bad Kreuznach</a>
        </span></h1>
    <a href="https://vhs-bad-kreuznach.de/" target="_blank" rel="noopener noreferrer"><img id="vhs-logo"
            src='{{ relURL "vhs-logo.jpg" }}' alt="vhs logo"></a>
</header>
<main>
    {{ $currentTime := now.Format "2006-01-02T15:04:05" }}
    {{ $currentTime := (time "2019-10-01").Format "2006-01-02T15:04:05" }}
    {{ $talks := (where (.Pages.ByParam "talk.date") ".Params.talk.date" "ge" $currentTime) }}

    <div class="talks-list">
        {{ range first 3 $talks }}
        {{ partial "vhs/talk-list-article.html" . }}
        {{ else }}
        Keine weiteren Vorträge angekündigt.
        {{ end }}
    </div>
    <div class="talks-banner">
        <div class="talk-content">
            <h2>Hier stehen dann die Informationen über Vorträge</h2>
        </div>
        <img src='{{ relURL "vortragsraum.jpg" }}' alt="Vortragsraum im Hauptgebäude">
    </div>
    <div class="talks-list">
        {{ range first 3 (after 3 $talks) }}
        {{ partial "vhs/talk-list-article.html" . }}
        {{ end }}
    </div>
</main>
{{ .Content }}
{{ end }}